body {
  padding: 0;
  margin: 0;
}

main {
  width: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-pages {
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
}

.list-pages__item {
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}